@font-face {
    font-family: ranchers;
    src: url(./Ranchers-Regular.ttf);
    font-weight: lighter;
}

@font-face{
    font-family: handwriting;
    src: url(./IndieFlower-Regular.ttf);
}



body{
    font-family: handwriting;
    text-align: center;
    width: 800px;
    height: 1400px;
    padding: 40px 360px;
    background-color: white;

}

.hidden{
    display: none;
}
.disney:hover{
    background-color: #1c6190;
    color: yellow;
    text-decoration: none;
   
    
}

.meaanQuizz{
    font-family: ranchers;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    color: #1c6190;
    animation: bounce .3s ease infinite alternate;
}

.meaanQuizz:hover{
    animation: bounce .3s ease infinite alternate;
}

.logo {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#go{
    border: 1px;
    border-color: #1c6190;
    border-style: solid;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c6190;
    color: white;
    font-weight: bold;
    /* box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2); */
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
   
}
#go:hover{
    background-color: white;
    
    transition: background-color 2s;
    box-shadow: 4px 4px 2px 1px darkturquoise ;
   
    border: 3px;
    
}
#start{
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 80px;
   
   

}

.section1{
    margin-bottom: 100px;
}

#down{
    color: white;
}

#down:hover{
    color: rgba(240, 46, 170, 0.9);
}

#quizz{
    padding-top: 100px;
    text-align: center;
}

#empty{
    height: 100px;
}


#navigation{
    display: flex;
    justify-content: center;
}

.nav-logo{
    width: 200px;
    height: 200px;
}

.reactions{
    border: solid 1px grey;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 500px;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;

}

.questions{
    border: solid 1px red;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

.answer1{
    border: solid 1px steelblue;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;

}

.answer2{
    border: solid 1px steelblue;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;

}

.answer3{
    border: solid 1px steelblue;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;

}

.answer4{
    border: solid 1px steelblue;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;

}

#answers{
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}

.flex-buttons1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}

.flex-buttons2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.answer1, .answer2, .answer3, .answer4{
    background-color: darkturquoise;
}

.score{
    height: 20px;
    position: relative;
    text-align: center;
    border: 1px solid dodgerblue;
    width: 20%;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
}

#questions-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#questions-select button{
    height: 20px;
    width: 80px;
}

.questions-grid{
    display: grid;
    grid-template-columns: 70% 30%;

}

.hidden{
    display: none;
}
